<div class="container-fluid">
    <div class="header">
        <a class="ti ti-plus pull-right plus-add" (click)="gotoAddMessage()"></a>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="content table-responsive table-full-width">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="col-md-1">S.No</th>
                                <th>Description</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let message of messageListData?.result; let i = index">
                                <td class="col-md-1">{{i+indexValue}}.</td>
                                <td class="overflow-table-text col-md-8">{{message?.desc || "-"}}</td>
                                <td class="col-md-3"><a class="ti ti-pencil" 
                                (click)="gotoEditMessagebyID(message?.id)"></a></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="loader_gif" *ngIf="loader">
                        <img [src]="global_service.basePathLoader"  class="loader-image-eight">
                    </div>
                    <div *ngIf="!isDataFound && !loader" class="dataCenter">Data Not Found</div>
                </div>
            </div>

   <p-paginator class="text-center" rows="10" totalRecords="{{messageListData?.count}}" (onPageChange)="paginate($event)" *ngIf="isDataFound && messageListData?.count >10"></p-paginator>
</div>
<!-- <img [src]="global_service.basePathLoader" *ngIf="loader" class="loader_gif"> -->
  
