<div class="loader_gif" *ngIf="disableMultipleSave">
    <img [src]="global_service.basePathLoader"  class="loader-image-eight">
</div>
<div class="col-lg-12 col-md-12">
  <div class="card">
    <div class="header">
      <h4 class="title">Edit Positivity Requests</h4>
    </div>
    <div class="content" *ngIf="disableEdit">
      <form [formGroup]="editPositivityReqForm">
        <div *ngIf="!editPositivityReqForm.valid && validateForm" class="alert alert-danger">
                Please fill all fields highlighted in Red
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <div class="col-md-3">
                <label>Author *</label>
              </div>
              <div class="col-md-9">
                <select class="form-control border-input" formControlName="author_id" value="{{positivityReqData?.author_id" 
                [ngClass]="{'red-border-class': !editPositivityReqForm.controls.author_id.valid && validateForm}">
                  <option label="Please Select Author" value="" [selected]="">Please Select Author</option>
                  <option *ngFor='let admin of authorDataArray'  value="{{admin?.id}}">
                    {{admin?.first_name || '-'}} {{admin?.last_name || '-'}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <div class="col-md-3">
                <label>Description *</label>
              </div>
              <div class="col-md-9">
                <input  class="form-control border-input" formControlName="desc" value="{{positivityReqData?.desc}}"
                [ngClass]="{'red-border-class': !editPositivityReqForm.controls.desc.valid && validateForm}">
                <small *ngIf="!editPositivityReqForm.controls.desc.valid && editPositivityReqForm.controls.desc.dirty">
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <div class="col-md-3">
                <label>Status *</label>
              </div>
              <div class="col-md-9">
               <select class="form-control border-input" class="form-control border-input" id="status" formControlName="status"
               [ngClass]="{'red-border-class': !editPositivityReqForm.controls.status.valid && validateForm}">
              <option label="Select Status" value="" [selected]="">Please Select Status</option>          
              <option label="Removed" value="0" [selected]="positivityReqData?.status == 0">Removed</option>
              <option label="Created" value="1" [selected]="positivityReqData?.status == 1">Created</option>
              <option label="Accepted" value="2" [selected]="positivityReqData?.status == 2">Accepted</option>
              <option label="Started" value="3" [selected]="positivityReqData?.status == 3">Started</option>
              <option label="Finished" value="4" [selected]="positivityReqData?.status == 4">Finished</option>
              <option label="Cancelled" value="5" [selected]="positivityReqData?.status == 5">Cancelled</option>
              </select>
            </div>
          </div>
        </div>
      </div> 
      
      <div class="text-center">
        <button type="submit" class="btn btn-info btn-fill btn-wd" (click)="updatePositivityRequest(positivityReqData?.id)" 
        [disabled]="disableMultipleSave">Update</button>
      </div>
      <div class="clearfix"></div>
    </form>
  </div>
</div>
</div>

