<div class="loader_gif" *ngIf="disableMultipleSave">
    <img [src]="global_service.basePathLoader"  class="loader-image-eight">
</div>
<div class="col-lg-12 col-md-12">
  <div class="card">
    <div class="header">
      <h4 class="title">Add Positivity Messages</h4>
    </div>
    <div class="content">
      <form [formGroup]="addPositivityMessageForm">
        <div *ngIf="!addPositivityMessageForm.valid && validateForm" class="alert alert-danger">
            Please fill all fields highlighted in Red
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <div class="col-md-3">
                <label>Request Positivity *</label>
              </div>
              <div class="col-md-9">
                <select class="form-control border-input" class="form-control border-input" id="status" formControlName="request_positivity_id" 
                [ngClass]="{'red-border-class': !addPositivityMessageForm.controls.request_positivity_id.valid && validateForm}">
                  <option label="Please Select" value="" [selected]="true">Please Select Positivity</option>
                  <option *ngFor='let positivity of positivityDataArray' value="{{positivity.id}}">
                    {{positivity?.desc || "--"}}
                  </option>
                </select>
              </div>
              <div [hidden]="addPositivityMessageForm.controls.request_positivity_id.valid || addPositivityMessageForm.controls.request_positivity_id.pristine" class="text-danger">
                Request Positivity is Required
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <div class="col-md-3">
                <label>Author *</label>
              </div>
              <div class="col-md-9">
                <select class="form-control border-input" formControlName="author_id" 
                [ngClass]="{'red-border-class': !addPositivityMessageForm.controls.author_id.valid && validateForm}">
                  <option label="Please Select Author" value="" [selected]="true">Please Select Author</option>
                  <option *ngFor='let admin of authorDataArray' 
                  [value]="admin.id">
                  {{admin?.first_name || '-'}} {{admin?.last_name || '-'}}
                </option>
              </select>
            </div>
            <div [hidden]="addPositivityMessageForm.controls.author_id.valid || addPositivityMessageForm.controls.author_id.pristine" class="text-danger">
            Author is Required     
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <div class="col-md-3">
              <label>Description *</label>
            </div>
            <div class="col-md-9">
              <input class="form-control border-input" formControlName="desc" placeholder="Enter Your Description Here" [ngClass]="{'red-border-class': !addPositivityMessageForm.controls.desc.valid && validateForm}">
              <div [hidden]="addPositivityMessageForm.controls.desc.valid || addPositivityMessageForm.controls.desc.pristine" class="text-danger"> 
              Description is Required   
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <div class="col-md-3">
              <label>Status *</label>
            </div>
            <div class="col-md-9">
             <select class="form-control border-input" class="form-control border-input" id="status" formControlName="status" [ngClass]="{'red-border-class': !addPositivityMessageForm.controls.status.valid && validateForm}">
              <option label="Select Status" [selected]="true">Select Status</option>          
                <option label="Removed" value="0">Removed</option>
                <option label="Created" value="1">Created</option>
                <option label="Accepted" value="2">Accepted</option>
                <option label="Started" value="3">Started</option>
                <option label="Finished" value="4">Finished</option>
                <option label="Cancelled" value="5">Cancelled</option>
            </select>
          </div>
          <div [hidden]="addPositivityMessageForm.controls.status.valid || addPositivityMessageForm.controls.status.pristine" class="text-danger">   
          Status is Required  
          </div>
        </div>
      </div>
    </div> 
    <div class="text-center">
      <button type="submit" class="btn btn-info btn-fill btn-wd" (click)="addPositivityMessage()" [disabled]="disableMultipleSave">Save</button>
    </div>
    <div class="clearfix"></div>
  </form>
</div>
</div>
</div>

