<div id="fullscreen_bg" class="fullscreen_bg" style="background-image:url('./assets/images/loginpage.png');">

<div class="container">

	 <div class="form-box">
	    <form [formGroup]="loginForm" (ngSubmit)='login()'>
		    <h1 class="form-signin-heading text-muted">Sign In</h1>
		    <div>
	        <input name="user" type="text" placeholder="Username" formControlName ='email' autofocus="" email>
	        <!-- <small>
	        	Email is not Valid.
	        </small> -->
	    	</div>
	        <input type="password" placeholder="Password" formControlName = 'password'>
	        <button class="btn btn-info btn-block login" type="submit" [disabled]="!loginForm.valid">
	        <span class="glyphicon glyphicon-refresh spinning" *ngIf='loader'></span>
	        	<b>Login</b>
	        </button>
	    </form> 
	    <a (click)="gotoForgotPassword()">Forgot Password</a>
	</div>
</div>
</div>
